:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Audiowide';
  src: url('/public/fonts/Audiowide-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  /* font-family: 'Audiowide', sans-serif; */
  margin: 0px;
  background-image: url('/public/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.title {
  font-size: 20px;
  text-align: center;
  margin-top: 20px
}


.tooltip {
  font-family: 'Audiowide';
  text-transform: uppercase;
}


.tooltip-row {
  display: flex;
}

.tooltip-row-value {
  margin-left: 4px;
}

.tooltip-row-title {
  font-weight: 700;
  color: #A2CDE3
}

.popup {
  position: relative;
  font-family: 'Audiowide';
  padding: 0px 80px;
  text-transform: uppercase;
  color: #ffffff
}

.popup-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 700;
  margin-top: 40px;
}

.close-icon {
  position: absolute;
  top: 0px;
  right:3dvh;
}

.popup-title {
  width: 350px;
  text-align: center;
  position: static;
}

.popup-bullets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 30px;
  font-size: 13px;
  width: 560px;
}

.bullet {
  text-align: center;
}

.bullet-title {
  font-size: 15px;
}

.total-share {
  margin: 30px 0px;
  text-align: center;
}

.pie-chart-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 560px;
}

.pie-bullet {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 17px;
}

.pie-bullets-group {
  display: flex;
  align-items: center;
  gap: 20px
}

#pie-chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Audiowide';
}

.bullet-detail-section {
  text-align: center;
}

.vector {
  position: relative;
}

.vector-text {
  position: absolute;
  top: 15px;
  left: 170px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.logo {
  margin: 20px 0px 0px 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}